/*
vw: viewport width
vh: viewport height
em: relativo a la fuente del elemento padre
rem: relativo a la fuente raiz

icons css: https://fontawesome.com

animaciones: https://animate.style

position:static,relative,absolute,fixed,sticky



(fixed = relativo al viewport(lo que vemos en pantalla))
(absolute = relativo al contenedor mas cercano)
(sticky = relativo al user scroll position)
*/
body {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
   text-decoration: none;
   color: #bf0076
}
a:hover{
   opacity: 0.6;
}
img{
   max-width: 100%;
}

.tittle {
   text-transform: uppercase;
   text-align: center;
   margin-top: 50px;
}

.container {

   background: #4b134f;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #4b134f, #9e0f46);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #4b134f, #9e0f46);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   height: 100vh;

   /*centramos el div con flexbox*/
   display: flex;
   align-items: center;
   justify-content: center;
}

.content {
   max-width: 960px;
   height: 80vh;
   width: 100%;
   /*100% del contenedor en el que está dentro*/
   background-color: white;
   /*SOMBRAS: box-shadow: diferenciaHorizontal diferenciaVertical desenfoque amplitud color  */
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.50);
   border-radius: 4px;
   position: relative;
   
   overflow: scroll;   
}
.content{
   padding:1em ;
}
td{
   display: block;
   width: 100%;
}
td:nth-of-type(1){
   font-size: 1.5em;
   font-weight: bold;
   color: #642b73;
}
th{
   display: none;
}
.actions{
   position: absolute;
   right: 10px;
   top: 10px;

}
.close{
   height: 40px;
   width: 40px;
   color: white;
   border-radius: 50%;
   background-color:#bf005f;
   display: inline-block;
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.50);
   font-weight: 300;
   cursor:pointer ;
   display: flex;
   align-items: center;
   justify-content: center;


}

.paragraph {
   line-height: 1.8em;
   font-weight: 200;

}

.table {
   font-size: 17px;
   font-style: italic;
   width: 100%;
   border-spacing: 0;
   margin-top: 50px;

}

.table td,
.table th {
   padding: 1em;
   text-align: left;
}

td {
   text-transform: capitalize;
}

.table tr:nth-child(even) {
   background-color: #f3e5f5;
}

.fa-star {
   color: #ffc400;

}

.title-item {
   /*border-bottom-style: solid;
    border-width: 2px;
    border-color: #c6426e;*/


   border-bottom: solid 2px #a71e72;
   padding-bottom: 1em;
   font-size: 2em;

}

.position {
   background-color: #a71e72;
   color: white;
   padding: 0.5em;
   border-radius: 4px;
   margin-left: 3px;
   margin-right: 0.5em;

}
.address{
   font-weight: bold;
   color: #642b73;
   font-size: 1.2em;
   margin-top: 1em ;
   display: inline-block;

}
.main-image{
   float: left;
   margin-right: 1em;
   margin-top: 0.3em;
   height: 250px;
}
@media(min-width:900px){
   .content{
      padding: 1.8em;
      overflow:hidden;   
   }
   td{
      display: table-cell;
      width: auto;
   }
   td:nth-of-type(1){
      font-size: 1em;
   }
   th{
      display: table-cell;
   }

}
@media (min-height:550px) {
   .content{
      height: 500px;
   }
}